<link rel="stylesheet" href="partials/navbar.css">

<nav class="sidebar">
      <img src="imgs/1.jpg" alt="">
      <li><a class="username" href="">username</a></li>
      <li><a href="/">home</a></li>
      <li><a href="/collections">collections</a></li>
      <li><a href="/collections/create">create collection</a></li>
      <li><a href="/books">books</a></li>
</nav>
