<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>create new collection</h1>
  <form action="/collections/create" method="post">
    <input type="text" name="name">
    <textarea name="description" id="" cols="30" rows="10"></textarea>
    <button type="submit">create</button>
  </form>
</body>
</html>