<%- include('../partials/header'); %>

<link rel="stylesheet" href="BookCollections/index.css">

<body>
  

    
    <%- include('../partials/navbar'); %>
    
    <main class="container">

    <% for(var i=0; i < collections.length; i++) {%>
      <div class="collection-card">
      <div class="img-section"></div>
      <div class="collection-section">
        <% if(collections[i].name) {%>
          <h3 class="collection-name"><%= collections[i].name %></h3>
        <% } %>
        <h4 class="books-count">3 books</h4>
        <a href="/collections/<%= collections[i]._id%>">see collection</a>
      </div>
    </div>  
    <% } %>
  </main>


</body>
</html>